<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:action="@{/item/new}" th:object="${form}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label th:for="name">상품명</label>
            <input type="text" name="name" class="form-control"
                   placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">가격</label>
            <input type="number" name="price" class="form-control"
                   placeholder="가격을 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="stockQuantity">수량</label>
            <input type="number" name="stockQuantity" class="form-control"
                   placeholder="수량을 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="author">저자</label>
            <input type="text" name="author" class="form-control"
                   placeholder="저자를 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="stockQuantity">출판사</label>
            <input type="text" name="publisher" class="form-control"
                   placeholder="수량을 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="isbn">ISBN</label>
            <input type="number" name="isbn" class="form-control"
                   placeholder="ISBN을 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="isbn">페이지</label>
            <input type="number" name="pages" class="form-control" id="page_id"
                   placeholder="페이지수를 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="isbn">부가설명</label>
            <input type="text" name="description" class="form-control"
                   placeholder="부가설명을 입력하세요">
        </div>

        <div class="form-group">
            <label>카테고리</label></br>
            <select onchange="categoryChange(this)" id="select1">
                <option>카테고리를 선택해주세요</option>
                <option value="국내 도서">국내 도서</option>
                <option value="외국 도서">외국 도서</option>
            </select>

            <select id="select2" onchange="setCategories()">
                <option>카테고리를 선택해주세요</option>
            </select>

            <input type="hidden" id="category1" class="form-control" name="category1"
                   placeholder="부가설명을 입력하세요" >

            <input type="hidden" id="category2" class="form-control" name="category2"
                   placeholder="부가설명을 입력하세요">



            <script th:lnline="javascript">
                function categoryChange(e) {
                    var sub = ["소설", "시/에세이", "인문", "가정/육아", "요리", "건강",
                    "취미/실용/스포츠", "경제/경영", "자기계발", "정치/사회", "역사/문화", "과학", "패션",
                    "종교", "건설/건축", "마케팅", "미술"];
                    var target = document.getElementById("select2");

                    var d = sub;

                    target.options.length = 0;

                    for (x in d) {
                        var opt = document.createElement("option");
                        opt.value = d[x];
                        opt.innerHTML = d[x];
                        target.appendChild(opt);
                    }
                }

                function setCategories(){
                    var cate1 = document.getElementById("select1").value;
                    var cate2 = document.getElementById("select2").value;

                    document.getElementById("category1").value = cate1;
                    document.getElementById("category2").value = cate2;

                    console.log("v1 = "+document.getElementById("category1").value);
                    console.log("v2 = "+document.getElementById("category2").value);
                    console.log("page_id = "+document.getElementById("page_id").value);
                }
            </script>
        </div>

        <div class="form-group">
            <label th:for="image">image</label>
            <input type="file" name="image" class="form-control"
                   placeholder="이미지 입력하세요">
        </div>






        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>