<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header" />
<link rel="stylesheet" href="/static/css/admincss.css">
<link rel="stylesheet" href="/static/css/table.css">

<style>
    tr {
        border-bottom: 1px solid black;
    }

    input[type="submit"]{
        font-family: FontAwesome;
    }

    .content-header > *{
        float:right;
    }

    table {
        margin-top:30px;
        margin-left:30px;

        width:800px;
    }

</style>


<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/admin}">관리자 페이지</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-review dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-review" th:href="@{/}">홈으로 이동</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-review" th:href="@{/member/logout}">로그아웃</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div th:replace="fragments/adminSideBar :: adminSideBar" />

    <div id="layoutSidenav_content">
        <section class="notice">
            <div class="page-title">
                <div class="container">
                    <h3>문의 관리</h3>
                </div>
            </div>

            <!-- board seach area -->
            <div id="board-search">
                <div class="container">
                    <div class="search-window">
                        <form action="">
                            <div class="search-wrap">
                                <label for="search" class="blind">공지사항 내용 검색</label>
                                <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                                <button type="submit" class="btn btn-dark">검색</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- board list area -->
            <div id="board-list">
                <div class="container">
                    <table class="board-table">
                        <thead>
                        <tr>
                            <th scope="col" class="th-num">번호</th>
                            <th scope="col" class="th-title">상품명</th>
                            <th scope="col" class="th-title">문의 내용</th>
                            <th scope="col" class="th-date">등록일</th>
                            <th scope="col" class="th-date">답변 작성 여부</th>
                            <th scope="col" class="th-date">답변 작성 하기</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="inquiry : ${allInquiry}">
                            <td>3</td>
                            <td><a th:href="@{/item/{param}(param=${inquiry.item.id})}"><span th:text="${inquiry.item.name}"></span></a></td>
                            <th th:text="${inquiry.content}"></th>
                            <td th:text="${#temporals.format(inquiry.created_at, 'yyyy.MM.dd HH:mm')}">2017.07.13</td>
                            <td th:if="${inquiry.child.isEmpty()}">N</td>
                            <td th:unless="${inquiry.child.isEmpty()}">Y</td>
                            <td>
                                <a th:href="@{/admin/inquiry/answer/{param}(param=${inquiry.id})}">문의 작성 하기</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </section>


        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-reviews-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
