<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header" />
<link rel="stylesheet" href="/static/css/admincss.css">
<link rel="stylesheet" href="/static/css/table.css">

<style>
    tr {
        border-bottom: 1px solid black;
    }

    input[type="submit"]{
        font-family: FontAwesome;
    }

    .content-header > *{
        float:right;
    }

    table {
        margin-top:30px;
        margin-left:30px;

        width:800px;
    }
</style>



<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/admin}">관리자 페이지</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-review dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-review" th:href="@{/}">홈으로 이동</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-review" th:href="@{/member/logout}">로그아웃</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div th:replace="fragments/adminSideBar :: adminSideBar" />

    <div id="layoutSidenav_content">
        <section class="notice">
            <div class="page-title">
                <div class="container">
                    <h3>리뷰 관리</h3>
                </div>
            </div>

            <!-- board seach area -->
            <div id="board-search">
                <div class="container">
                    <div class="search-window">
                        <form action="">
                            <div class="search-wrap">
                                <label for="search" class="blind">공지사항 내용 검색</label>
                                <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                                <button type="submit" class="btn btn-dark">검색</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- board list area -->
            <div id="board-list">
                <div class="container">
                    <table class="board-table">
                        <thead>
                        <tr>
                            <th scope="col" class="th-num">번호</th>
                            <th scope="col" class="th-title">상품명</th>
                            <th scope="col" class="th-title">리뷰 내용</th>
                            <th scope="col" class="th-date">작성 유저</th>
                            <th scope="col" class="th-date">작성 시간</th>
                            <th scope="col" class="th-date">별점</th>
                            <th scope="col" class="th-date">삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="review : ${allReview}">
                            <td>3</td>
                            <td><a th:href="@{/item/{param}(param=${review.item.id})}"><span th:text="${review.item.name}"></span></a></td>
                            <th th:text="${review.text}"></th>
                            <th th:text="${review.member.nickName}"></th>
                            <td th:text="${#temporals.format(review.created_at, 'yyyy.MM.dd HH:mm')}">2017.07.13</td>
                            <td th:text="${review.score}"></td>
                            <td>
                                <button onclick="deleteReview()">삭제 하기</button>
                                <script th:inline="javascript">
                                    function deleteReview(){
                                        var reviewId = [[${review.id}]];
                                        $.ajax({
                                            type: "DELETE",
                                            url: "/admin/review/delete"+reviewId,
                                            data : {"reviewId": reviewId},
                                            success: function () {
                                                alert("삭제되었습니다");
                                                location.reload();
                                            },
                                            error:function(request, status, error){
                                                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error); }
                                        });
                                    }
                                </script>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </section>

<!--        <div th:if="${!allReview.isEmpty()}" class="store-filter clearfix">-->
<!--            <span class="store-qty">Showing 20-100 products</span>-->
<!--            <ul class="store-pagination">-->
<!--                <li class="page-review" th:classappend="${!allReview.hasPrevious} ? 'disabled'">-->
<!--                    <form th:action="@{/admin/review}">-->
<!--                        <input type="hidden" name="page" th:value="${currentPage-1}">-->
<!--                        <input class="input" th:value="${keyword}" type="hidden" name="keyword">-->
<!--                        <input class="page-left" type="submit" value="&#xf359;">-->
<!--                    </form>-->
<!--                </li>-->
<!--                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"-->
<!--                    class="page-review">-->
<!--                    <a th:text="${page}" class="page-link" th:href="@{|?page=${page}&keyword=${keyword}|}"></a>-->
<!--                </li>-->
<!--                <li class="page-review" th:classappend="${!allreview.hasNext} ? 'disabled'">-->
<!--                    <form th:action="@{/admin/review}">-->
<!--                        <input type="hidden" name="page" th:value="${currentPage+1}">-->
<!--                        <input class="input" th:value="${keyword}" type="hidden" name="keyword">-->
<!--                        <input class="page-right" type="submit" value="&#xf35a;">-->
<!--                    </form>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->


        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-reviews-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
