<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<link rel="stylesheet" href="/static/css/sideBar.css">
<link rel="stylesheet" href="/static/css/mypage.css">

<style>
    .itemArea {
        margin-bottom:20px;
    }
</style>

<body>
    <div th:replace="fragments/topHeader :: topHeader"/>
    <div th:replace="fragments/mainHeader :: mainHeader" />
    <div class="container">
        <div th:replace="fragments/sideBar :: sideBar"/>
        <div class="contextArea" id="contextArea">
            <h2>주문 목록</h2><hr>
            <div th:each = "order : ${allOrder}"  class="itemArea">
                <div class="headerArea">
                    <form th:action="@{/order/cancel}" method="post">
                        <h2 th:text="${order.orderDate}" style="float:left;"></h2>
                        <input type="hidden" th:value="${order.id}" name="orderId">
                        <input type="submit" class="btn btn-secondary" value="주문 삭제하기" style="float:right;">
                    </form>

                </div>

                <div>
                    <table>
                        <tbody>
                        <tr>
                        </tr>
                        <td>
                            <div class="item-area" th:each="orderItem : ${order.orderItems}" style="height:200px">
                                <div class="imgArea" style="float:left; width:100px;">
                                    <img th:src="@{${orderItem.item.getFilePath()}}" width="100px" alt="">
<!--                                    <img src="/static/images/book.jpg" alt="" width="100px">-->
                                </div>
                                <div class="itemName-area">
                                    <h4 th:text="${orderItem.item.getName()}"></h4>
                                    <p th:text="${orderItem.getTotalPrice()} +'원' +','+${orderItem.getCount()}+'건'"></p>
                                </div>
                                <div id="item_btn">
                                    <a th:href="@{/order/detail/{orderId}(orderId=${order.id})}" class="btn btn-secondary">구매 상세 내역</a>
                                </div>
                            </div>
                        </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



<!--    <div th:replace="fragments/footer :: footer"/>-->
</body>

</html>