<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<link rel="stylesheet" href="/static/css/table.css">
<body>
<style>
    .btnArea {
        margin-right:20px;
    }
    .btnArea > form {
        margin: 10px 10px 10px 10px;
    }

    table, tr, td {
        text-align: center;
        text-decoration: none;
    }


</style>

<body>
    <div th:replace="fragments/topHeader :: topHeader"/>
    <div th:replace="fragments/mainHeader :: mainHeader"/>
    <div class="container">
        <div class="header1" style="margin-top: 10px;">
            <h3>주문완료</h3>
        </div>

        <div class="header2">
            <h3 th:text="${kakaoApprove.item_name}+'이 결제완료 되었습니다'"></h3>
        </div>

        <div class="orderDetail">
            <div class="row">
                <div class="col-6">
                    <h5>상품 정보</h5>
                    <table class="board-table">
                        <thead>
                        <tr>
                            <th class="th-title">상품 이미지</th>
                            <th class="th-title">상품 명</th>
                            <th class="th-title">주문금액</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="orderItem : ${paymentsItemList}">
                            <td><img class="item-image" th:src="${orderItem.item.getFilePath()}" style="width:100px;"></td>
<!--                            <td><img src="/static/images/book.jpg" alt="" style="width:100px;"></td>-->
                            <td th:text="${orderItem.item.name}"></td>
                            <td th:text="${#numbers.formatInteger(orderItem.getTotalPrice(), 3,'COMMA')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-6">
                    <h5>배송 및 결제 정보</h5>
                    <table class="board-table">
                        <tr>
                            <td>받는 사람</td>
                            <td th:text="${member.nickName}"></td>
                        </tr>

                        <tr>
                            <td>받는 주소</td>
                            <td th:text="${order.address.address1}+' , '+${order.address.address2}"></td>
                        </tr>

                        <tr>
                            <td>결제 금액</td>
                            <td th:text="${#numbers.formatInteger(order.getTotalPrice(), 3,'COMMA')}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="btnArea" style="display:flex;justify-content:center;">
            <form th:action="@{/}">
                <button class="btn-primary" type="submit">홈으로 가기</button>
            </form>

            <form th:action="@{/order/orderList}">
                <button class="btn-secondary" type="submit">주문 목록으로 가기</button>
            </form>

        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</body>

</body>

</html>