HELP.md
.gradle
build/
#!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/src/main/resources/images/
/src/main/resources/application.properties
/src/main/resources/application-dev.properties
/src/main/resources/application-test.properties
/src/main/resources/application-local.properties
/src/main/resources/application-prod.properties

/src/main/resources/static/files/**
!**/src/main/resources/static

dependencies.txt
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
/src/main/generated/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.iprgi
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Custom ###
tables.PNG

