<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<style>
    input[type="submit"]{
        font-family: FontAwesome;
    }

    .page-left, .page-right{
        border:none;
        width:100%;
        background-color:white;
    }

    .store-sort > a {
        margin-right:5px;

    }
</style>
<body>

<script>
    function addToCart(id){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(function() {
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
        });
        var quantity = 1;
        var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");

       $.ajax({
            type: "POST",
            url: "/cart/add",
            beforeSend : function(xhr){
				xhr.setRequestHeader(header, token);
            },
            data : {"itemId": id,
                    "quantity": quantity},
            success: function (flag) {
                if(flag){
                    alert("장바구니에 담겼습니다");
                    location.reload();
                }else{
                    alert("로그인 후 이용 가능합니다");
                }

            },
            error:function(request, status, error){
        		alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error); }
        });
    }

</script>

<div>
    <header>
        <div th:replace="fragments/topHeader :: topHeader" />
        <div th:replace="fragments/mainHeader :: mainHeader" />
    </header>

    <nav th:replace="fragments/navbar :: navbar" />
    <!-- NAVIGATION -->

    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div id="search_num_box" class="col-md-12">
                   <div class="keyword_box"th:text="'\''+${keyword}+'\''"></div>
                   <div th:text="'에 대한 '+${totalElement}+'개의 검색 결과'"></div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">분류</h3>
                        <div class="checkbox-filter">
                            <div class="input-checkbox">
                                <input type="checkbox" th:id="korean" onclick="search(this.id)" id="category-1">
                                <label for="category-1">
                                    <span></span>
                                    국내 도서
                                    <small th:text="'('+${koreanNum}+')'"></small>
                                </label>
                            </div>

                            <div class="input-checkbox">
                                <input type="checkbox" id="category-2">
                                <label for="category-2">
                                    <span></span>
                                    외국 도서
                                    <small th:text="'('+${foreignNum}+')'"></small>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside"  >
                        <h3 class="aside-title">카테고리</h3>
                        <div th:each = "category : ${categoryList}" class="checkbox-filter">
                            <div class="input-checkbox">
                                <input type="checkbox" th:id="'brand-'+${category.value[1]}">
                                <label th:id="'brand-'+${category.value[1]}">
                                    <span></span>
                                    <em th:text="${category.key}"></em>
                                    <small th:text="'('+${category.value[0]}+')'"></small>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Top selling</h3>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product01.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name">22</h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product02.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product03.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                    </div>
<!--                    &lt;!&ndash; /aside Widget &ndash;&gt;-->
                </div>
                <!-- /ASIDE -->

                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <a class="btn btn-secondary" th:href="@{/item(page=${page}, keyword=${keyword}, sort_by='판매량')}">판매량순</a>
                            <a class="btn btn-secondary" th:href="@{/item(page=${page}, keyword=${keyword}, sort_by='최신')}">최신순</a>


                                <script th:inline="javascript">
                                    function sortByLatest(value){
                                       $.ajax({
                                            type: "GET",
                                            url: "/item",
                                            data : {"page": [[${page}]],
                                                    "sort_by": value,
                                                    "keyword" : [[${keyword}]]},
                                            success: function () {
                                                alert("실행 되었습니다");
                                            },
                                            error:function(request, status, error){
                                                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error); }
                                        });
                                    }
                                </script>

<!--                            <label>-->
<!--                                Show:-->
<!--                                <select class="input-select">-->
<!--                                    <option value="0">20</option>-->
<!--                                    <option value="1">50</option>-->
<!--                                </select>-->
<!--                            </label>-->
                        </div>
<!--                        <ul class="store-grid">-->
<!--                            <li class="active"><i class="fa fa-th"></i></li>-->
<!--                            <li><a href="#"><i class="fa fa-th-list"></i></a></li>-->
<!--                        </ul>-->
                    </div>
                    <!-- /store top filter -->

                    <!-- store products -->
                    <div class="row">
                        <!-- product -->
                        <div th:each="item : ${paging}" class="col-md-4 col-xs-6">
                            <div class="product">
                                <div class="product-img">
                                    <img th:src="${item.getFilePath()}" alt="">
                                </div>

                                <div class="product-body" th:with="avg = ${T(java.lang.Math).floor(item.calculateAvgScore())}">
                                    <p class="product-category" th:text="${item.author} +'(저자)'"></p>
                                    <p class="product-category" th:text="${#temporals.format(item.createDate, 'yyyy-MM-dd')}"></p>
                                    <h3 class="product-name">
                                        <a th:href="@{/item/{param1}(param1=${item.id})}"><span th:text="${item.name}"></span></a>
                                    </h3>
                                    <h4 class="product-price" th:text="${#numbers.formatInteger(item.price, 3,'COMMA')}"></h4>
                                    <div th:if="${avg >= 5}" class="review-rating">
                                        <i th:each="page: ${#numbers.sequence(1, avg)}" class="fa fa-star"></i>
                                    </div>
                                    <div th:unless="${avg >= 5}" class="review-rating">
                                        <i th:each="page: ${#numbers.sequence(1, avg, 1)}" class="fa fa-star"></i>
                                        <i th:each="page: ${#numbers.sequence(avg + 1, 5,1)}" class="fa fa-star-o empty"></i>
                                    </div>

                                    <div class="product-btns">
                                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                        <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                        <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button th:id="${item.id}" class="add-to-cart-btn" onclick="addToCart(this.id)"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                </div>
                            </div>
                        </div>
                        <!-- /product -->
                    </div>
                    <!-- /store products -->

                    <!-- store bottom filter -->
                    <div th:if="${!paging.isEmpty()}" class="store-filter clearfix">
                        <span class="store-qty">Showing 20-100 products</span>
                        <ul class="store-pagination">
                            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                                <form th:action="@{/item}">
                                    <input type="hidden" name="page" th:value="${currentPage-1}">
                                    <input class="input" th:value="${keyword}" type="hidden" name="keyword">
                                    <input class="page-left" type="submit" value="&#xf359;">
                                </form>
                            </li>
                            <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                                class="page-item">
                                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}&keyword=${keyword}|}"></a>
                            </li>
                            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                                <form th:action="@{/item}">
                                    <input type="hidden" name="page" th:value="${currentPage+1}">
                                    <input class="input" th:value="${keyword}" type="hidden" name="keyword">
                                    <input class="page-right" type="submit" value="&#xf35a;">
                                </form>
<!--                                <a class="page-link"-->
<!--                                   th:href="@{|?paging=${paging.number+1}|}">-->
<!--                                    <i class="fa fa-angle-right"></i>-->
<!--                                </a>-->
                            </li>
                        </ul>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>