<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header" />

<style>
    ul.tabs{
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    ul.tabs li{
        background: none;
        color: #222;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
    }

    ul.tabs li.current{
        color: #222;
    }

    .tab-content{
        display: none;
        padding: 15px;
    }

    .tab-content.current{
        display: inherit;
    }

    .review-btn > * {
        float:right;
    }

    button {
        border : none;
        background-color: rgba(0,0,0,0);
    }

    textarea {
        width: 100%;
        height: 100px;
        padding: 12px 14px;
        color: #000;
        border: 1px solid #d5d5d5;
        border-radius: 6px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.01em;
        font-family: "Noto Sans KR", sans-serif;
        background-color: #fff;
        box-sizing: border-box;
        transition: background 0.2s ease-out, border-color 0.2s ease-out;
        outline: 0;
        overflow-y: auto;
        resize: none;
    }


    td {
        text-align:center;
    }
    tr > td:first-child{
    }
    tr > td:last-child{
        width:350px;
    }

</style>
<body>

<script>
    function formatByKoreanMoney(){
        var money = $('.product-price').val();
        var new_money = money.toLocaleString();
        console.log(new_money);
        $('.product-price').val(new_money);
    }

    function clickedPlusButton(){
        var quantity = Number($('#quantity').val());
        $('#quantity').val(quantity+1);
    }

    function clickedMinusButton(){
        var quantity = Number($('#quantity').val());
        if(quantity > 0){ $('#quantity').val(quantity-1); }
    }

    function addToCart(){
        var quantity = Number($('#quantity').val());
        var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
		var name = $("#userName").val();


       $.ajax({
            type: "POST",
            url: "/cart/add",
            beforeSend : function(xhr){
				xhr.setRequestHeader(header, token);
            },
            data : {"itemId": [[${item.id}]],
                    "quantity": quantity},
            success: function () {
                alert("장바구니에 담겼습니다");
                location.reload();
            },
            error:function(request, status, error){
        		alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error); }
        });
    }

    $(document).ready(function(){
        $('ul.tabs li').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        })

    })

    function deleteReview(temp){
        var reviewId = temp.split('-')[1];
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
           $.ajax({
                type: "DELETE",
                url: "/review/delete/"+reviewId,
                data : {"reviewId": reviewId},
                beforeSend: function (xhr) {
                      xhr.setRequestHeader(header, token);
                    },
                success: function (flag) {
                    if(!flag){alert("접근 권한이 없습니다");}
                    else{alert("삭제 되었습니다");}
                    location.reload();
                },
                error:function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error); }
            });
        }

    function addLikeReview(id){
        var reviewId = id;
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $.ajax({
            type: "POST",
            url: "/review/like/"+reviewId,
            data : {"reviewId": reviewId},
            beforeSend: function (xhr) {
                  xhr.setRequestHeader(header, token);
                },
            success: function (data) {
                if(data == 0){
                    alert("로그인 후 이용가능 합니다");
                }else if(data == 1){
                    var element = document.getElementById("likeNum-"+reviewId);
                    element.innerText = Number(element.innerText)+1;
                    document.querySelector("#likeBtn-"+reviewId).className="fa-solid fa-thumbs-up";

                }else if(data == 2){
                    var element = document.getElementById("likeNum-"+reviewId);
                    element.innerText = Number(element.innerText)-1;
                    document.querySelector("#likeBtn-"+reviewId).className="fa-regular fa-thumbs-up";

                }else{}
            },
            error:function(request, status, error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error); }
        });
    }

    $(document).ready(function () {
        $("#showText").click(function () {
            $("#text").show();
            $("#myModal").modal("handleUpdate");
        });
    });

    $(document).ready(function(){
        $('ul.tabs li').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        })

    })


</script>

<div>
    <header>
        <div th:replace="fragments/topHeader :: topHeader" />
        <div th:replace="fragments/mainHeader :: mainHeader" />
    </header>

    <!-- NAVIGATION -->
    <nav th:replace="fragments/navbar :: navbar" />
    <!-- /NAVIGATION -->


    <!-- SECTION -->
    <div class="section" onload="formatByKoreanMoney()">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-6 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview">
                            <img th:src="${item.getFilePath()}">
                        </div>

                    </div>
                </div>
                <!-- /Product main img -->


                <!-- Product details -->
                <div class="col-md-6">
                    <div class="product-details">
                        <h2 class="product-name" th:text="${item.name}"></h2>
                        <div>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <a class="review-link" href="#"><span th:text="${allReview.size()}+' Review(s) '"></span></a>
                        </div>
                        <div>
                            <h3 class="product-price" th:text="${#numbers.formatInteger(item.price, 3,'COMMA')}"><del class="product-old-price">$990.00</del></h3>
                            <span class="product-available">In Stock</span>
                        </div>
                        <p th:text="${item.description}"></p>

                        <div class="add-to-cart">
                            <div class="qty-label">
                                수량
                                <div class="input-number">
                                    <input id="quantity" type="number" value="0">
                                    <span class="qty-up" onclick="clickedPlusButton()">+</span>
                                    <span class="qty-down" onclick="clickedMinusButton()">-</span>
                                </div>
                            </div>
                            <button class="add-to-cart-btn" sec:authorize="isAuthenticated()" onclick="addToCart()"><i class="fa fa-shopping-cart"></i>장바구니 추가</button>
                        </div>

                        <ul class="product-btns">
                            <li><a href="javascript:void(0);" onclick="javascript:likeItemForm.submit();"><i class="fa fa-heart-o"></i> 찜하기</a></li>
                            <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
                            <form th:action="@{/like/add}" method="post" name="likeItemForm" style="display:hidden;">
                                <input type="hidden" name="itemId" th:value="${item.id}">
                            </form>
                        </ul>

                        <ul class="product-links">
                            <li>Category:</li>
<!--                            <li><a href="#"><span th:text="{item.getCategory().category1}"></span></a></li>-->
<!--                            <li><a href="#"><span th:text="{item.getCategory().category2}"></span></a></li>-->
                        </ul>

                        <ul class="product-links">
                            <li>Share:</li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>

                    </div>
                </div>
                <!-- /Product details -->

                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tabs">
                            <li class="tab-link current" data-tab="tab-1">정보</li>
                            <li class="tab-link" data-tab="tab-2" th:text="'리뷰'+'('+${allReview.size()}+')'">리뷰</li>
                            <li class="tab-link" data-tab="tab-3">문의</li>
                        </ul>
                        <hr>
                        <!-- /product tab nav -->

                        <!-- product tab content -->
                        <div class="tab-content-three">
                            <!-- tab1  -->
                            <div id="tab-1" class="tab-content current">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p th:text="${item.description}"></p>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab1  -->

                            <!-- tab2  -->
                            <div id="tab-2" class="tab-content">
                                <div class="row">
                                    <!-- Rating -->
                                    <div class="col-md-3">
                                        <div id="rating">
                                            <div class="rating-avg">
                                                <span th:text="${avgScore}"></span>
                                                <div class="rating-stars">
                                                    <div th:if="${avgScore} >= 5" class="review-rating">
                                                        <i th:each="page: ${#numbers.sequence(1, avgScore, 1)}" class="fa fa-star"></i>
                                                    </div>
                                                    <div th:unless="${avgScore} >= 5" class="review-rating">
                                                        <i th:each="page: ${#numbers.sequence(1, avgScore, 1)}" class="fa fa-star"></i>
                                                        <i th:each="page: ${#numbers.sequence(avgScore + 1, 5, 1)}" class="fa fa-star-o empty"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="rating">
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div style="width: 80%;"></div>
                                                    </div>
                                                    <span class="sum" th:text="${reviewCount[5]}">3</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div style="width: 60%;"></div>
                                                    </div>
                                                    <span class="sum" th:text="${reviewCount[4]}">3</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum" th:text="${reviewCount[3]}">3</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum" th:text="${reviewCount[2]}">3</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum" th:text="${reviewCount[1]}">3</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Review Form -->
                                    <div class="col-md-7">
                                        <div id="reviews">
                                            <ul class="reviews">
                                                <li th:each = "review : ${allReview}">
                                                    <div class="review-heading">
                                                        <p class="name"><strong><span th:text="${review.member.name}"></span></strong></p>
                                                        <p class="name" th:text="${review.member.orders.orderItems}"><strong><span>else</span></strong></p>
                                                        <p class="date" th:text="${review.created_at}">27 DEC 2018, 8:0 PM</p>
                                                        <div th:if="${review.score} >= 5" class="review-rating">
                                                            <i th:each="page: ${#numbers.sequence(1, review.score, 1)}" class="fa fa-star"></i>
                                                        </div>
                                                        <div th:unless="${review.score} >= 5" class="review-rating">
                                                            <i th:each="page: ${#numbers.sequence(1, review.score, 1)}" class="fa fa-star"></i>
                                                            <i th:each="page: ${#numbers.sequence(review.score + 1, 5, 1)}" class="fa fa-star-o empty"></i>
                                                        </div>
                                                    </div>
                                                    <div class="review-body">
                                                        <div class="review-text">
                                                            <p th:text="${review.text}"></p>
                                                        </div>
                                                        <div class="review-btn">
                                                            <button type="button" th:id="${review.id}" onclick="addLikeReview(this.id)"><i th:id="'likeBtn-'+${review.id}" class="fa-regular fa-thumbs-up"></i></button>
                                                            <p th:id="'likeNum-'+${review.id}" th:text="${review.likeNum}"></p>
                                                            <button type="submit" th:id="'delete-'+${review.id}" onclick="deleteReview(this.id)">삭제</button>

                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>
                                            <ul class="reviews-pagination">
                                                <li class="active">1</li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <!-- 모달 영역 -->
                                        <!-- Button Trigger Modal -->
                                        <button type="button" class="btn btn-lg btn-success mt-4"
                                                data-bs-toggle="modal" data-bs-target="#myModal" style="margin-top:0px;">
                                            <i class="fa-solid fa-pencil"></i>
                                            작성 하기
                                        </button>

                                        <!-- The Modal -->
                                        <div id="myModal" class="modal fade" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">
                                                            리뷰 작성
                                                        </h5>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="thumbnail-box">
                                                            <div class="row">
                                                                <div class="col-3">
                                                                    <img th:src="${item.getFilePath()}" alt="" style="width:100px;">
                                                                </div>
                                                                <div class="col-9">
                                                                    <form th:action="@{/review/add}" method="post" class="review-form">
                                                                        <div class="input-rating">
                                                                            <div class="stars">
                                                                                <p><strong><span th:text="${item.name}"></span></strong></p>
                                                                                <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                                                                <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                                                                <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                                                                <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                                                                <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                                                            </div>
                                                                            <input type="hidden" th:value="${item.id}" name="itemId">
                                                                            <textarea class="review_box" name="review" placeholder="내용을 10자 이상 입력해 주세요. 주제와 무관한 댓글, 악플, 배송 문의 등의 글은 임의로 삭제될 수 있습니다."></textarea>
                                                                        </div>
                                                                        <button type="submit" class="btn btn-danger"
                                                                                data-bs-dismiss="modal">
                                                                            작성 하기
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab2  -->

                            <!-- tab3  -->
                            <div id="tab-3" class="tab-content">
                                <div class="row">
                                    <div class="inquiry-header">
                                        <div class="header-text">
                                            <h3>상품 문의</h3>
                                        </div>
                                        <div class="modal-area">
                                            <!-- 모달 영역 -->
                                            <!-- Button Trigger Modal -->
                                            <button type="button" class="btn btn-lg btn-success mt-4" id="inquiryModalBtn"
                                                    data-bs-toggle="modal" data-bs-target="#inquiryModal" style="margin-top:0px;!">
                                                <i class="fa-solid fa-pencil"></i>
                                                작성 하기
                                            </button>

                                            <!-- The Modal -->
                                            <div id="inquiryModal" class="modal fade" tabindex="-1">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">
                                                                문의 작성
                                                            </h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal">
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="thumbnail-box">
                                                                <hr>
                                                                <table>
                                                                    <tr>
                                                                        <td>상품 정보</td>
                                                                        <td th:text="${item.name}"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>문의 사항</td>
                                                                        <td>
                                                                            <select name="selectForm" id="context">
                                                                                <option value="select">문의 사항을 선택하세요</option>
                                                                                <option value="product">상품 관련 문의</option>
                                                                                <option value="delivery">배송 문의</option>
                                                                                <option value="other">기타</option>
                                                                            </select>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>문의 내용</td>
                                                                        <td>
                                                                            <form th:action="@{/inquiry/add}" method="post" class="review-form">
                                                                                <input type="hidden" th:value="${item.id}" name="itemId">
                                                                                <textarea class="inquiry_box" name="inquiry_text" placeholder="내용을 10자 이상 입력해 주세요. 주제와 무관한 댓글, 악플, 배송 문의 등의 글은 임의로 삭제될 수 있습니다."></textarea>
                                                                                <button type="submit" class="btn btn-danger"
                                                                                        data-bs-dismiss="modal">
                                                                                    작성 하기
                                                                                </button>
                                                                            </form>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                        </div>
                                        </div>
                                    </div>

                                    <div class="guide-area">
                                        <ul>
                                            <li>상품문의 및 후기게시판을 통해 취소나 환불, 반품 등은 처리되지 않습니다.</li>
                                            <li>"해당 상품 자체"와 관계없는 글, 양도, 광고성, 욕설, 비방, 도배 등의 글은 예고 없이 이동, 노출제한, 삭제 등의 조치가 취해질 수 있습니다.</li>
                                            <li>공개 게시판이므로 전화번호, 메일 주소 등 고객님의 소중한 개인정보는 절대 남기지 말아주세요.</li>
                                        </ul>
                                    </div>
                                    <hr>

                                    <!-- inquiry -->
                                    <div class="col-md-7">
                                        <div>
                                            <ul>
                                                <li th:each = "inquiry : ${allInquiry}">
                                                    <div class="inquiry">
                                                        <div class="inquiry-heading">
                                                            <div class="em-label"><em class="inquiry-label">질문</em></div>
                                                            <div class="inquiry_name" th:text="${inquiry.member.name}"></div>
                                                            <div class="inquiry_item_name" th:text="${inquiry.item.name}"></div>
                                                            <div class="inquiry_time" th:text="${inquiry.created_at}"></div>
                                                        </div>
                                                        <div></div>

                                                        <div class="inquiry-body">
                                                            <div class="inquiry-text">
                                                                <p th:text="${inquiry.content}"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                            <ul class="reviews-pagination">
                                                <li class="active">1</li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <!-- /tab3  -->

                        </div>
                        <!-- /product tab content  -->
                    </div>
                </div>
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- Section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3 class="title">Related Products</h3>
                    </div>
                </div>

                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div class="product-img">
                            <img src="./img/product01.png" alt="">
                            <div class="product-label">
                                <span class="sale">-30%</span>
                            </div>
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            <div class="product-rating">
                            </div>
                            <div class="product-btns">
                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        </div>
                    </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div class="product-img">
                            <img src="./img/product02.png" alt="">
                            <div class="product-label">
                                <span class="new">NEW</span>
                            </div>
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-btns">
                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        </div>
                    </div>
                </div>
                <!-- /product -->

                <div class="clearfix visible-sm visible-xs"></div>

                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div class="product-img">
                            <img src="./img/product03.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="product-btns">
                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        </div>
                    </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div class="product-img">
                            <img src="./img/product04.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            <div class="product-rating">
                            </div>
                            <div class="product-btns">
                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        </div>
                    </div>
                </div>
                <!-- /product -->

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /Section -->

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>