<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="">
        <h1>[<span th:text="${keyword}"></span>]에 대한 검색결과</h1>
        <p>전체 <span th:text="${items.size()}"></span>건</p><hr>
        <div th:each="item : ${items}">
            <div class="row">
                <div class="col-4">
                    <a th:href="@{/item/{param1}(param1=${item.id})}">
                        <img th:src="@{${item.getFilePath()}}" alt="" style="width: 200px; height: 300px;"></a>
                </div>
                <div class="col-8">
                    <a th:href="@{/item/{param1}(param1=${item.id})}"><strong><p th:text="${item.name}" class="text-start" id="itemName" style="text-decoration-line;none"></strong></p></a>
                    <p th:text="${item.author}"></p>
                    <p th:text="${item.publisher}"></p>
                   <strong><span th:text="${item.price}"></span></strong><span>원</span>
                </div>
            </div><hr><br>
        </div>``

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>