<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<link rel="stylesheet" href="/static/css/mypage.css">

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div th:replace="fragments/sideBar :: sideBar"/>


    <div class="contextArea" id="contextArea">
        <h2>주문 목록</h2><hr>
        <div th:each = "order : ${allOrder}"  class="itemArea">
            <h2 th:text="${order.orderDate}"></h2>
            <div class="itemDetailArea">
                <table>
                    <tbody>
                    <tr></tr>
                    <td>
                        <div th:each="orderItem : ${order.orderItems}" style="height:200px">
                            <div class="imgArea" style="float:left; width:100px;">
                                <img th:src="@{${orderItem.item.getFilePath()}}" width="100px" alt="">
                            </div>
                            <div class="contextArea" style="float:left; width:250px">
                                <h4 th:text="${orderItem.item.getName()}"></h4>
                                <p th:text="${orderItem.getTotalPrice()} +'원' +','+${orderItem.getCount()}+'건'"></p>
                            </div>
                            <div id="item_btn" style="float:right; width:150px;">
                                <a href="" class="btn btn-outline-primary" style="margin-bottom: 5px;">배송 조회</a>
                                <a href="" class="btn btn-outline-secondary" style="margin-bottom: 5px;">교환 및 반품 신청</a>
                                <a href="" class="btn btn-outline-secondary" style="margin-bottom: 5px;">리뷰 작성하기</a>
                            </div>
                        </div>
                    </td>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div> <!-- /container -->
</body>
<script>
    function cancel(id) {
    var con = "orderList";
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/orders/" + id + "/cancel");
    document.body.appendChild(form);
    form.submit();
    }
</script>
</html>