<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<style>
    #item_btn > a {
        width:150px;
    }
</style>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="container">
        <div class="row">
            <div class="col-3" id="infoArea">
                <p>비밀번호 재설정</p>
                <a th:href="@{/member/address}">배송지 설정</a>
                <p>회원 탈퇴</p>
            </div>

            <div class="col-9" id="orderArea">
                <p>주문 목록</p><hr>
                <div class="itemArea">
                    <h2>2023.10.21</h2>
                    <div class="itemDetailArea">
                        <table>
                            <tbody>
                            <tr></tr>
                            <td style="width: 400px;">
                                <div style="display: inline-block;" ><img src="images/pngwing.com.png" width="100px" alt=""></div>
                                <div style="display: inline-block;">
                                    <p style="margin-bottom: 0px;">책 제목은 이것 입니다</p>
                                    <p style="margin-bottom: 0px;">16,000원 </p>
                                </div>
                            </td>
                            <td>
                                <div style="" id="item_btn">
                                    <a href="" class="btn btn-outline-primary" style="margin-bottom: 5px;">배송 조회</a>
                                    <a href="" class="btn btn-outline-secondary" style="margin-bottom: 5px;">교환 및 반품 신청</a>
                                    <a href="" class="btn btn-outline-secondary" style="margin-bottom: 5px;">리뷰 작성하기</a>
                                </div>

                            </td>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
    function cancel(id) {
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/orders/" + id + "/cancel");
    document.body.appendChild(form);
    form.submit();
    }
</script>
</html>