<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<style>

</style>

<body>
    <div th:replace="fragments/topHeader :: topHeader"/>
    <div th:replace="fragments/mainHeader :: mainHeader"/>
    <div class="container">
        <div class="header1">
            <h3>주문완료</h3>
        </div>

        <div class="header2">
            <h3>주문이 완료되었습니다. 감사합니다!</h3>
        </div>

        <div class="orderDetail">
            <h3>상품배송 정보</h3>
            <div>
                <h5>받는사람 정보</h5>
                <table>
                    <tr>
                        <td>받는 사람</td>
                        <td th:text="${member.name}+' / '+${member.phoneNum}"></td>
                    </tr>

                    <tr>
                        <td>받는 주소</td>
                        <td th:text="${member.name}+' / '+${member.phoneNum}"></td>
                    </tr>

                    <tr>
                        <td>받는 사람</td>
                        <td th:text="${member.name}+' / '+${member.phoneNum}"></td>
                    </tr>
                </table>
            </div>
            <div></div>
        </div>

        <div class="recipeArea">
            <h3 th:text="${kakaoApprove.item_name}+'이 결제완료 되었습니다'"></h3>
            <p th:text="'결제금액: '+${kakaoApprove.amount.total}+'원'"></p>
        </div>
        <div class="btnArea">
            <a class="btn btn-lg btn-primary" th:href="@{/}">홈으로 가기</a>
            <a class="btn btn-lg btn-secondary" th:href="@{/order/orderList}">주문 목록으로 가기</a>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</body>

</body>

</html>