<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="container">
        <div class="header">
            <h2>주문 및 결제</h2><hr>
        </div>

        <div class="buyer">
            <h3>구매자 정보</h3>
            <table>
                <tr>
                    <td>이름</td>
                    <td th:text="${member.name}"></td>
                </tr>

                <tr>
                    <td>이메일</td>
                    <td th:text="${member.email}"></td>
                </tr>

                <tr>
                    <td>휴대폰 번호</td>
                    <td th:text="${member.phoneNum}"></td>
                </tr>
            </table>
        </div>

        <div class="delivery_info">
            <h3>받는사람 정보</h3>
            <table>
                <tr>
                    <td>이름</td>
                    <td th:text="${member.name}"></td>
                </tr>

                <tr>
                    <td>배송 주소</td>
                    <td th:text="${member.address.address1}"></td>
                </tr>

                <tr>
                    <td>연락처</td>
                    <td th:text="${member.phoneNum}"></td>
                </tr>
            </table>
        </div>

        <div class="delivery_item">
            <h3>배송 상품 정보</h3>
            <div th:each ="cartItem : ${cartItems}">
                <div th:text ="${cartItem.item.name}" style="display:inline;"></div>
                <div th:text ="','+${cartItem.count}+'개'" style="display:inline;"></div>
            </div>
        </div>

        <div class="payment_area">
            <h3>결제 정보</h3>
            <table>
                <tr>
                    <td>총 상품가격</td>
                    <td th:text="${totalPrice}"></td>
                </tr>

                <tr>
                    <td>배송비</td>
                    <td>3500원</td>
                </tr>

                <tr>
                    <td>총 결제 금액</td>
                    <td>28000원</td>
                </tr>

                <tr>
                    <td>결제 방법</td>
                    <td>
                        <input type="radio" name="결제1"value="결제1">결제 1
                        <input type="radio" name="결제1"value="결제1">결제 1
                    </td>
                </tr>
            </table>
        </div>

        <div class="buttonArea">
            <input type="button" class="btn-secondary" value="뒤로 가기">
            <input type="button" class="btn-secondary" value="결제 하기">
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>

</html>