<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<style>
    #body > div {
        margin-bottom:20px;
    }

    table {
      border: 1px #a39485 solid;
      font-size: .9em;
      box-shadow: 0 2px 5px rgba(0,0,0,.25);
      width: 100%;
      border-collapse: collapse;
      border-radius: 5px;
      overflow: hidden;
    }

    th {
      text-align: left;
    }
    tr > td:first-child {
        background-color:#CCCCCC;
        width:150px;
    }

    thead {
      font-weight: bold;
      color: #fff;
      background: #73685d;
    }

     td, th {
      padding: 1em .5em;
      vertical-align: middle;
    }

     td {
      border-bottom: 1px solid rgba(0,0,0,.1);
      background: #fff;
    }

    .delivery-info-head > * {
        display:inline;
    }

    .modal-dialog .modal-content {
      width: 700px;
      height: 1000px;
      margin: 0;
      padding: 0;
    }

</style>
<script>
    // 우편번호 찾기 찾기 화면을 넣을 element
        var element_wrap = document.getElementById('wrap');

        function foldDaumPostcode() {
            // iframe을 넣은 element를 안보이게 한다.
            element_wrap.style.display = 'none';
        }

        function sample3_execDaumPostcode() {
            // 현재 scroll 위치를 저장해놓는다.
            var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
            new daum.Postcode({
                oncomplete: function(data) {
                    // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample3_extraAddress").value = extraAddr;

                    } else {
                        document.getElementById("sample3_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample3_postcode').value = data.zonecode;
                    document.getElementById("sample3_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample3_detailAddress").focus();

                    // iframe을 넣은 element를 안보이게 한다.
                    // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                    element_wrap.style.display = 'none';

                    // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                    document.body.scrollTop = currentScroll;
                },
                // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
                onresize : function(size) {
                    element_wrap.style.height = size.height+'px';
                },
                width : '100%',
                height : '100%'
            }).embed(element_wrap);

            // iframe을 넣은 element를 보이게 한다.
            element_wrap.style.display = 'block';
        }
</script>
<div class="">
    <div th:replace="fragments/topHeader :: topHeader"/>
    <div th:replace="fragments/mainHeader :: mainHeader"/>
    <div class="container" id="body">
        <div class="header" style="margin-top:40px;">
            <h2>주문 및 결제</h2><hr>
        </div>

        <div class="buyer">
            <h3>구매자 정보</h3>
            <table>
                <tr>
                    <td>이름</td>
                    <td th:text="${member.name}"></td>
                </tr>

                <tr>
                    <td>이메일</td>
                    <td th:text="${member.email}"></td>
                </tr>

                <tr>
                    <td>휴대폰 번호</td>
                    <td th:text="${member.phoneNum}"></td>
                </tr>
            </table>
        </div>

        <div class="delivery_info">
            <h3>받는사람 정보</h3>

            <button type="button" class="btn btn-primary btn-sm" style="margin:0px 0px 13px 5px;"
                    data-bs-toggle="modal" data-bs-target="#myModal">
                <i class="fa-solid fa-pencil"></i>
                다른 배송지 설정하기
            </button>

            <!-- The Modal -->
            <div id="myModal" class="modal fade" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                리뷰 작성
                            </h5>
                            <button type="button" class="btn-close"
                                    data-bs-dismiss="modal">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="thumbnail-box">

                            </div>

                            <form th:action="@{/member/address}" th:object="${AddressForm}" method="POST">
                                <input type="hidden" th:name="${_csrf.parameterName}"
                                       th:value="${_csrf.token}" />
                                <input type="text" th:placeholder="${zipcode}" id="sample3_postcode" th:field="*{zipcode}" placeholder="우편번호" readonly>
                                <input type="button" onclick="sample3_execDaumPostcode()" value="우편번호 찾기"><br>
                                <input type="text" th:placeholder="${address1}" id="sample3_address" th:field="*{address1}" placeholder="주소" readonly><br>
                                <input type="text" th:placeholder="${address2}" id="sample3_detailAddress" th:field="*{address2}" placeholder="상세주소">
                                <input type="text" th:placeholder="${reference}" id="sample3_extraAddress" th:field="*{reference}" placeholder="참고항목" >

                                <div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                                    <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
                                </div>
                                <input type="submit" class ="btn-secondary" value="제출 하기">
                            </form>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>

            <table>
                <tr>
                    <td>이름</td>
                    <td th:text="${member.name}"></td>
                </tr>

                <tr>
                    <td>배송 주소</td>
                    <td th:if="${member.address == null}"><a th:href="@{/member/address}"><span style="color:red;">배송지가 없습니다, 배송지를 설정하세요</span></a></td>
                    <td th:unless="${member.address == null}"><span th:text="${member.address.address1}+' ,'+${member.address.address2}"></span></td>
                </tr>

                <tr>
                    <td>연락처</td>
                    <td th:text="${member.phoneNum}"></td>
                </tr>
            </table>
        </div>

        <div class="delivery_item">
            <h3>배송 상품 정보</h3>
            <table th:each ="cartItem : ${cartItems}">
                <tr>
                    <td>상품 명</td>
                    <td th:text ="${cartItem.item.name} + ',' + ${cartItem.count} + '개'"></td>
                </tr>
            </table>
        </div>

        <div class="payment_area">
            <h3>결제 정보</h3>
            <table>
                <tr>
                    <td>총 상품가격</td>
                    <td th:text="${totalPrice}+'원'"></td>
                </tr>

                <tr>
                    <td>배송비</td>
                    <td th:text="${deliveryFee}+'원'"></td>
                </tr>

                <tr>
                    <td>총 결제 금액</td>
                    <td th:text="${paymentPrice}+'원'"></td>
                </tr>

                <tr>
                    <td>결제 방법</td>
                    <td>
                        <label><input type="radio" name="paymentMethod" value="kakao">카카오 페이 결제</label>
                        <label><input type="radio" name="paymentMethod" value="account">무통장 입금</label>
                    </td>
                </tr>
            </table>
        </div>

        <div th:if="${member.address == null}" class="buttonArea">
            <input type="button" class="btn-secondary" value="뒤로 가기" >
        </div>
        <div th:unless="${member.address == null}" class="buttonArea">
            <input type="button" class="btn-secondary" value="뒤로 가기" >
            <input type="button" class="btn-secondary" value="결제 하기" onclick="executePayment()">
        </div>

        <script th:inline="javascript">
            function executePayment(){
                var arr = document.getElementsByName('paymentMethod');
                var type = "";
                for(var i=0; i<arr.length; i++){
                    if(arr[i].checked){type = arr[i].value;}
                }
                var itemName = [[${cartItems[0].item.name}]];
                var total_count = [[${totalCount}]];
                var total_price = [[${totalPrice}]];
                var index = [[${index}]];

                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                $(function() {
                    $(document).ajaxSend(function(e, xhr, options) {
                        xhr.setRequestHeader(header, token);
                    });
                });

                data = {"itemName" : itemName,
                        "total_count" : total_count,
                        "total_price" : total_price,
                        "type" : type};
                $.ajax({
                    url : "/kakaopay/ready",
                    type : "POST",
                    beforeSend: function (xhr) {
                                  xhr.setRequestHeader(header, token);
                                },
                    data : data,
                    success : function(data){
                        location.href = data.next_redirect_pc_url;
                    },
                    error:function(request,status,error){
                    alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
                   }
                });
            }
        </script>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>

</html>