<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header" />
<link rel="stylesheet" href="/static/css/admincss.css">
<link rel="stylesheet" href="/static/css/table.css">

<style>
    tr {
        border-bottom: 1px solid black;
    }

    input[type="submit"]{
        font-family: FontAwesome;
    }

    .content-header > *{
        float:right;
    }

    table {
        margin-top:30px;
        margin-left:30px;

        width:800px;
    }

</style>


<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/admin}">관리자 페이지</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-review dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-review" th:href="@{/}">홈으로 이동</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-review" th:href="@{/member/logout}">로그아웃</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div th:replace="fragments/adminSideBar :: adminSideBar" />

    <div id="layoutSidenav_content">
        <section class="notice">
            <div class="page-title">
                <div class="container">
                    <h3>회원 관리</h3>
                </div>
            </div>

            <!-- board list area -->
            <div id="board-list">
                <div class="container">
                    <table class="board-table">
                        <thead>
                        <tr>
                            <th scope="col" class="th-num">번호</th>
                            <th scope="col" class="th-title">아이디</th>
                            <th scope="col" class="th-title"></th>
                            <th scope="col" class="th-date">등록일</th>
                            <th scope="col" class="th-date">답변 작성 여부</th>
                            <th scope="col" class="th-date">답변 작성 하기</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="member : ${allMember}">
                            <td>3</td>
                            <td th:text="${member.name}"></td>
                            <td th:text="${member.role}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </section>


        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-reviews-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
