<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<link rel="stylesheet" href="/static/css/detail.css">
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="container" >
        <table class="table">
            <thead>
            <tr>
                <th scope="col-1"><input type="checkbox"></th>
                <th scope="col-1"><span>상품 이미지</span></th>
                <th scope="col-4">상품정보</th>
                <th scope="col-5">금액</th>
                <th scope="col-1">삭제</th>
            </tr>
            </thead>

            <script th:inline="javascript">
                function leftBtnClicked(id){
                    var id = id.substr(4);
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");

                    let number = $('#count'+id).val();
                    const cart = {"cartItemId" : id,
                                  "quantity" : "-1"};
                    $(function() {
                        $(document).ajaxSend(function(e, xhr, options) {
                            xhr.setRequestHeader(header, token);
                        });
                    });
                    $.ajax({
                        url : "/cart/edit",
                        type : "PUT",
                        data : cart,
                        beforeSend: function (xhr) {
                          xhr.setRequestHeader(header, token);
                        },
                        async    : false,
                        success : function(){
                            let number = Number($('#count'+id).val());
                            if(number > 0){
                                let price = Number($('#price'+id).text()) / number;
                                number -= 1;
                                $('#count'+id).val(number);
                                $('#price'+id).text(price * number);
                            }
                        },
                        error:function(request,status,error){
                        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
                       }
                    });
                }

                function rightBtnClicked(id){
                    var id = id.substr(5);
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");

                    let number = $('#count'+id).val();
                    const cart = {"cartItemId" : id,
                                  "quantity" : "1"};
                    $(function() {
                        $(document).ajaxSend(function(e, xhr, options) {
                            xhr.setRequestHeader(header, token);
                        });
                    });
                    $.ajax({
                        url : "/cart/edit",
                        type : "PUT",
                        data : cart,
                        beforeSend: function (xhr) {
                          xhr.setRequestHeader(header, token);
                        },
                        async    : false,
                        success : function(){
                            let number = Number($('#count'+id).val());
                            if(number > 0){
                                let price = Number($('#price'+id).text()) / number;
                                number += 1;
                                $('#count'+id).val(number);
                                $('#price'+id).text(price * number);
                            }
                        },
                        error:function(request,status,error){
                        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
                       }
                    });
                }
            </script>

            <tbody th:each="cartItem : ${cartItems}">
            <tr>
                <th scope="row" style="margin-right: 20px;"><input type="checkbox"></th>
                <td><a th:href="@{/item/{param1}(param1=${cartItem.item.id})}"><img th:src="@{${cartItem.item.getFilePath()}}" alt="" width="100px"></a></td>
                <td><div>
                    <a href="" th:text="${cartItem.item.name}"></a>
                </div>
                    <div>
                        <p th:text="${cartItem.item.description}"></p>
                    </div>
                </td>
                <td>
                    <div><p th:text="${cartItem.item.price} * ${cartItem.count}" style="margin-bottom:0px;" th:id="'price'+${cartItem.id}"><span>원</span></p>
                        <span class="countBox">
                            <button th:id="'left'+${cartItem.id}" onclick="leftBtnClicked(this.id)"><span>-</span></button>
                            <input type="number" th:value="${cartItem.count}" th:id="'count'+${cartItem.id}" class="input_btn" onchange="changePrice('{cartItem.id}')">
                            <span id="itemCount" style="display:none;" th:text="${cartItem.count}"></span>
                            <button th:id="'right'+${cartItem.id}" onclick="rightBtnClicked(this.id)">
                                <span>+</span>
                            </button>
                        </span>
                    </div>
                </td>
                <th scope="row" style="margin-right: 20px;">
                    <input th:onclick="cart_delete([[${cartItem.id}]])" type="button" value="X">
                </th>
                <script th:inline="javascript">
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                    $(function() {
                        $(document).ajaxSend(function(e, xhr, options) {
                            xhr.setRequestHeader(header, token);
                        });
                    });

                    function cart_delete(id){
                        var newId = (id).toString();
                        $.ajax({
                            url : "/cart/delete/"+newId,
                            type : "DELETE",
                            data : {"cartItemId" : newId
                            },
                            beforeSend: function (xhr) {
                                      xhr.setRequestHeader(header, token);
                                    },

                            success : function(){
                                alert("삭제 되었습니다");
                                location.reload();
                            },
                            error:function(request,status,error){
                            alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
                           }
                        });
                    }
                </script>
            </tr>


            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>