<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .btn_area > * {
        display:inline;
    }
</style>
<link rel="stylesheet" href="/static/css/detail.css">
    <script>
        function selectAllCheckBox(){
            var checkBoxes = document.getElementsByName("item_check_box");

            if(document.getElementById("checkBoxAll").checked == true){
                for(var i=0; i < checkBoxes.length; i++) checkBoxes[i].checked=true;
            } else {
                for(var i=0; i < checkBoxes.length; i++) checkBoxes[i].checked=false;
            }
            changePriceBlock();
        }

        function selectOneCheckBox(id){
            var checkBox = document.getElementById(id);
            var checkBoxes = document.getElementsByName("item_check_box");
            var parentCheckBox = document.getElementById("checkBoxAll");
            const rand = Math.floor(Math.random() * 99999999);
            let isChecked = 0;

            for(var i=0; i< checkBoxes.length; i++){
                if(checkBoxes[i].checked == true) isChecked += 1;
            }

            if(checkBox.checked == true){
                if(isChecked == checkBoxes.length){parentCheckBox.checked = true;}
             }else{
                 parentCheckBox.checked = false;
             }
             $('#change').text(rand);
             changePriceBlock();
        }

         function changePriceBlock(){
            var array = new Array();
            let money = 0;
            var checkBoxes = document.getElementsByName("item_check_box");
            for(var i=0; i < checkBoxes.length; i++) {
                if(checkBoxes[i].checked == true){
                    let id = "price"+checkBoxes[i].id.substr(4);
                    money += Number($('#'+id).text());
                }
            }
            var result1 = money.toLocaleString('ko-KR');
            var result2 = (money+3000).toLocaleString('ko-KR');
            $('#total_price').text(result1+"원");
            $('#payment_price').text(result2+"원");
        }
</script>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div style="display:none" id="change" onchange="">1</div>
    <div class="container" >
        <table class="table">
            <thead>
            <tr>
                <th scope="col-1"><input type="checkbox" id="checkBoxAll" checked="checked" onclick="selectAllCheckBox()"> </th>
                <th scope="col-1"><span>상품 이미지</span></th>
                <th scope="col-3">상품정보</th>
                <th scope="col-6">금액</th>
                <th scope="col-1">삭제</th>
            </tr>
            </thead>

            <script th:inline="javascript">
                if(message != ''){
                    var message = [[${msg}]];
                    alert(msg);
                    location.replace([[${url}]]);
                }
            </script>

            <script th:inline="javascript">
                function btnClicked(id, count){
                    var id = id.substr(4);
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                    let number = Number($('#count'+id).val());
                    let price = Number($('#value'+id).text());

                    if(number>= 0){
                        number = ((number+count) < 0) ? 0 : number+count;
                        $('#count'+id).val(number);
                        $('#price'+id).text((price * number));
                    }

                    const cart = {"cartItemId" : id,
                                  "count" : count};
                    $(function() {
                        $(document).ajaxSend(function(e, xhr, options) {
                            xhr.setRequestHeader(header, token);
                        });
                    });
                    $.ajax({
                        url : "/cart/edit",
                        type : "PUT",
                        data : cart,
                        beforeSend: function (xhr) {
                          xhr.setRequestHeader(header, token);
                        },
                        success : function(){
                        },
                        error:function(request,status,error){
                        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
                       }
                    });
                    changePriceBlock();
                }
            </script>

            <tbody th:each="cartItem : ${cartItems}">
            <tr>
                <th scope="row" style="margin-right: 20px;"><input type="checkbox" checked="checked" th:id="'item'+${cartItem.id}" name="item_check_box" onclick="selectOneCheckBox(this.id)"></th>
                <td><a th:href="@{/item/{param1}(param1=${cartItem.item.id})}"><img th:src="@{${cartItem.item.getFilePath()}}" alt="" width="100px"></a></td>
                <td><div>
                    <a href="" th:text="${cartItem.item.name}"></a>
                </div>
                    <div>
                        <p th:text="${cartItem.item.description}"></p>
                    </div>
                </td>
                <td>
                    <p style="display:none;" th:text="${cartItem.item.price}" th:id="'value'+${cartItem.id}"> </p>
                    <div><p th:text="${cartItem.item.price} * ${cartItem.count}" style="margin-bottom:0px;" th:id="'price'+${cartItem.id}"></p>
                        <span class="countBox">
                            <button th:id="'left'+${cartItem.id}" onclick="btnClicked(this.id, -1)"><span>-</span></button>
                            <input type="number" th:value="${cartItem.count}" th:id="'count'+${cartItem.id}" class="input_btn" onchange="changePrice('{cartItem.id}')">
                            <span id="itemCount" style="display:none;" th:text="${cartItem.count}"></span>
                            <button th:id="'righ'+${cartItem.id}" onclick="btnClicked(this.id, 1)">
                                <span>+</span>
                            </button>
                        </span>
                    </div>
                </td>
                <th scope="row" style="margin-right: 20px;">
                    <input th:onclick="cart_delete([[${cartItem.id}]])" type="button" value="X">
                </th>
                <script th:inline="javascript">
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                    $(function() {
                        $(document).ajaxSend(function(e, xhr, options) {
                            xhr.setRequestHeader(header, token);
                        });
                    });

                    function cart_delete(id){
                        var newId = (id).toString();
                        $.ajax({
                            url : "/cart/delete/"+newId,
                            type : "DELETE",
                            data : {"cartItemId" : newId
                            },
                            beforeSend: function (xhr) {
                                      xhr.setRequestHeader(header, token);
                                    },

                            success : function(){
                                alert("삭제 되었습니다");
                                location.reload();
                            },
                            error:function(request,status,error){
                            alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
                           }
                        });
                    }
                </script>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div id="total_price_area" style="float:center;">
            <p style="display:inline;">총 상품 가격 : <span id="total_price" th:text="${price}+'원'"></span></p>
            <p style="display:inline;">배송비 : <span id="delivery_fee">3000원</span></p>
            <p style="display:inline;">결제 금액 : <span id="payment_price">3000원</span></p>
        </div>
    </div>

    <div class="btn_area" style="margin:auto;">
        <a th:href="@{/item}" class="btn btn-lg btn-secondary">계속 쇼핑하기</a>
        <form th:action="@{/order/payment}" method="post">
            <input type="submit" class="btn btn-lg btn-primary" value="구매 하기">
        </form>

    </div>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>