<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<link rel="stylesheet" href="/static/css/mypage.css">
<body>

<style>
    #btnArea > a {
        width: 50%;
        text-align:center;

    }
</style>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div th:replace="fragments/sideBar :: sideBar"/>

    <div id="reviewArea">
        <div class="btnArea">
            <h2>리뷰 목록</h2><hr>
            <a class="btn btn-primary" th:href="@{/review/notWritten}">리뷰 쓰기</a>
            <a class="btn btn-primary" th:href="@{/review/written}">리뷰 관리</a>
        </div>

        <div class="contextArea">
            <div class="itemDetailArea">
                <table>
                    <tbody>
                    <tr></tr>
                    <td>
                        <div th:each="item : ${reviewItems}" style="height:200px">
                            <div class="imgArea" style="float:left; width:80px;">
                                <img th:src="@{${orderItem.item.getFilePath()}}" width="80px" alt="">
                            </div>
                            <div class="" style="float:left; width:250px">
                                <h4 th:text="${orderItem.order.createOrderName()}"></h4>
                                <p th:text="${orderItem.order.createOrderName()}"></p>
                            </div>
                        </div>
                    </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>