<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="row align-items-center" id="header_top">
        <div class="col-2">
            <p id="BookMarket"><strong>BookMarket</strong></p>
        </div>
        <div class="col-7">
            <form class="d-flex" th:action="@{/item}" th:object="${form}">
                <label th:for="keyword">검색어</label>
                <input class="form-control me-2" type="search" name="keyword" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-3">
        </div>
    </div>
    <hr>
    <div class="row">
        <p>Category1</p>
    </div>
    <div class="row">
        <div class="col-4" th:each="item : ${items}">
            <a th:href="@{/item/{param1}(param1=${item.id})}">
                <img th:src="@{${item.getFilePath()}}" alt="" style="height: 200px;"></a>
            <a th:href="@{/item/{param1}(param1=${item.id})}"><strong><p th:text="${item.name}" class="text-start" id="itemName" style="text-decoration-line;none"></strong></p></a>
            <p th:text="${item.author}"></p>
            <p th:text="${item.publisher}"></p>
            <strong><span th:text="${item.price}"></span></strong><span>원</span>
        </div>
    </div>

    </div>
    <div th:replace="fragments/footer :: footer" /></div> <!-- /container -->
</body>
</html>