<!DOCTYPE HTML>


<!-- MAIN HEADER -->
<div id="header" th:fragment="mainHeader" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- LOGO -->
            <div class="col-3">
                <div class="header-logo">
                    <a th:href="@{/}" class="logo">
                        <img src="/static/images/logo.png" alt="" style="width: 100px;">
                    </a>
                </div>
            </div>
            <!-- /LOGO -->

            <!-- SEARCH BAR -->
            <div class="col-6">
                <div class="header-search">
                    <form th:action="@{/item}">
                        <select class="input-select" name="type">
                            <option value="0">전체 도서</option>
                            <option value="1">국내 도서</option>
                            <option value="2">외국 도서</option>
                        </select>
                        <input class="input" type="search" name="keyword" placeholder="검색어를 입력하세요" aria-label="Search">
                        <button class="search-btn">Search</button>
                    </form>
                </div>
            </div>
            <!-- /SEARCH BAR -->

            <!-- ACCOUNT -->
            <div class="col-3" sec:authorize="isAuthenticated()">
                <div class="header-ctn">
                    <!-- Wishlist -->
                    <div>
                        <a href="#">
                            <i class="fa fa-heart-o"></i>
                            <span>찜한상품</span>
                            <div class="qty"></div>
                        </a>
                    </div>
                    <!-- /Wishlist -->
                    <!-- Cart -->
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-shopping-cart"></i>
                            <span>장바구니</span>
                            <div class="qty" th:text="${NOP}"></div>
                        </a>
                        <div class="cart-dropdown">
                            <div th:each = "cartItem : ${cartItems}" class="product-widget">
                                <div class="product-img">
<!--                                    <img th:src="${cartItem.item.getFilePath()}" alt="">-->
                                    <img src="/static/images/book.jpg" alt="">
                                </div>
                                <div class="product-body">
                                    <h3 class="product-name"><a href="#"><span th:text="${cartItem.item.name}"></span></a></h3>
                                    <h4 class="product-price"><span class="qty" th:text="${cartItem.count}+'x'"></span></h4>
                                </div>
                                <button th:id="${cartItem.id}" class="delete" onclick="deleteCartItem(this.id)"><i class="fa fa-close"></i></button>

                                <script th:inline="javascript" xmlns:th="http://www.w3.org/1999/xhtml">
                                    function deleteCartItem(cartItemId){
                                        var header = $("meta[name='_csrf_header']").attr('content');
                                        var token = $("meta[name='_csrf']").attr('content');

                                        $.ajax({
                                                type: "DELETE",
                                                beforeSend: function(xhr){
                                                    xhr.setRequestHeader(header, token);
                                                },
                                                url: "/cart/delete/"+cartItemId,
                                                data : {"cartItemId": cartItemId},
                                                success: function () {
                                                    alert("상품이 삭제되었습니다");
                                                    location.reload();
                                                },
                                                error:function(request, status, error){
                                                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error); }
                                        });
                                    }
                                </script>
                            </div>
                            <div class="cart-summary">
                                <small th:text="${NOP}+' Item(s) selected'"></small>
                                <h5 th:text="'합계 : '+${totalPrice}"></h5>
                            </div>
                            <div class="cart-btns">
                                <a href="#">계속 쇼핑하기</a>
                                <a th:href="@{/order/payment}" >구매하기</a>
                            </div>
                        </div>

                        </div>
                    </div>
                    <!-- /Cart -->

                    <!-- Menu Toogle -->
                    <div class="menu-toggle">
                        <a href="#">
                            <i class="fa fa-bars"></i>
                            <span>Menu</span>
                        </a>
                    </div>
                    <!-- /Menu Toogle -->
                </div>
            </div>
            <!-- /ACCOUNT -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>


<!-- /MAIN HEADER -->

</html>