.contextArea{
    position:absolute;
    left:350px;
    margin-top:30px;
}

#bottom-footer{
    clear:both;
    height:100px;
}
.item-area {
    width:800px;
}

.itemName-area{
    float:left;
    width:250px;
    margin-left:20px;
}
#item_btn {
    float:right;
}


table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
th,
td {
  padding: 6px 15px;
}
th {
  background: #42444e;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 14px;
    color: #000;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #fff;
    box-sizing: border-box;
    transition: background 0.2s ease-out, border-color 0.2s ease-out;
    outline: 0;
    overflow-y: auto;
    resize: none;
}
