<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/root_layout"
      lang="en">

<div class="header" th:fragment="bodyHeader">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/item}">상품 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <a class="btn btn-lg btn-secondary" th:href="@{/member/login}" sec:authorize="isAnonymous()">로그인</a>
                    <a class="btn btn-lg btn-secondary" th:href="@{/cart/list}" sec:authorize="isAuthenticated()">장바구니</a>
                    <a class="btn btn-lg btn-secondary" th:href="@{/member/logout}" sec:authorize="isAuthenticated()">로그 아웃</a>
                    <a class="btn btn-lg btn-secondary" th:href="@{/member/new}" sec:authorize="isAnonymous()">회원 가입</a>
                </div>
            </div>
        </div>
    </nav>


</div>