<!DOCTYPE html>

<!-- NAVIGATION -->
<nav id="navigation" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="navbar">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/item}">지금 뜨는 상품</a></li>
                <li><a th:href="@{/item}">국내 도서</a></li>
                <li><a th:href="@{/item}">외국 도서</a></li>

            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
</html>